body {
  color: #9d0808;
}

h1 {
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
.text-box {
  border: 2px solid #000;
  padding: 10px;
  margin: 10px;
  background-color: #eceaea;
  width: 1000px;
}
.background-color{
  background-color:rgb(150, 20, 141)
}